# Copy into your ESPHome secrets.yaml and adjust
# In die ESPHome secrets.yaml übernehmen und anpassen
wifi_ssid: "YOUR_WIFI"
wifi_password: "YOUR_WIFI_PASSWORD"
api_key: "32_BYTE_BASE64_KEY"   # openssl rand -base64 32
ota_password: "YOUR_OTA_PASSWORD"
